<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
{{>main/skeleton}}
<body class="bg-light control" logged-in-user="{{loggedInUser.user_id}}">
    {{>main/header}}
    <div class="row my-0 flex-lg-grow-1">
        {{>dashboard/sidenav loggedInUser}}
        <div class="row col py-4 mx-auto">
            <section class="container-fluid overflow-hidden">
                {{{body}}}
            </section>
        </div>
    </div>
    {{>main/footer}}
</body>
<script src="../assets/js/logout.js"></script>