{{>main/skeleton}}
<body class="bg-light control" logged-in-user="{{loggedInUser.user_id}}">
    {{>main/header}}
    <div class="row my-0 flex-lg-grow-1">
        {{>dashboard/sidenav loggedInUser}}
        <div class="row col py-4 mx-auto">
            <section class="container-fluid overflow-hidden">
                {{{body}}}
            </section>
        </div>
    </div>
    {{>main/footer}}
</body>