<div class="modal" tabindex="-1" id="delete-post-modal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content p-3">
            <h3 class="fw-bold text-secondary">Delete Blogpost</h3>
            <p>Are you sure you would like to delete "{{title}}"? This action cannot be undone. Press the "Delete" button below to confirm.</p>
            <div class="d-flex justify-content-end mb-3">
                <button type="button" id="delete-post-confirm" class="btn btn-danger me-2 flex-grow-1 disabled">DELETE</button>
                <a type="button" class="link-unstyled mx-2 p-0 my-auto" data-bs-dismiss="modal"
                    aria-label="Close">Cancel</a>
            </div>
        </div>
    </div>
</div>