
<section class="container-fluid px-0">
    <img src="" alt="" class="w-100">
</section>
<article class="d-flex flex-column container fill-remaining justify-content-between">
    <div class="row mt-3 g-5">
        <div class="col-lg-6 col-md-12 order-lg-2">

        </div>
        <div class="col-lg-6 col-md-12  order-lg-1">
            <h2 class="text-primary">What is Codebabble?</h2>
            <p>Lorem Ipsum </p>
        </div>
    </div>
    <div class="row mt-3 g-5">
        <div class="col-lg-6 col-md-12">
        </div>
        <div class="col-lg-6 col-md-12">
            <h2 class="text-primary">Why codebabble</h2>
            <ol>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 offset-lg-3 col-md-12 order-last d-grid gap-2 mt-auto py-3">
            <button class="btn btn-dark align-middle get-started-btn" onclick="location.href='/signup'">Sign-Up Now</button>
        </div>
    </div>
    </div>
</article>
