<link rel="stylesheet" href="/assets/css/helpers.css">
<div class="container position-absolute top-50 start-50 translate-middle">
    <h2 class="text-primary fw-bold text-center"><a href="/" class="link-unstyled">Codebabble</a></h2>
    <div class="row">
        <div class="col-sm-8 col-md-6 col-lg-4 offset-sm-2 offset-md-3 offset-lg-4 px-0">
            <div class="card px-2 bg-light border border-secondary">
                <div class="card-body">
                    {{>login-signup/signupFormContent}}
                </div>
            </div>
            {{>login-signup/footer}}
        </div>
    </div>
</div>
</div>