<div class="footer d-flex justify-content-around">
    <p class="footer mt-auto my-3 py-auto sticky-bottom">
        <a href="https://github.com/jvesterfelt/codebabble" class="link-unstyled">GitHub</a>
    </p>
</div>