<link rel="stylesheet" href="/assets/css/stylesheet.css">
<footer class="card bg-secondary" id="footer">
    <div class="card-body bg-light">
    <h5 class="card-title text-secondary fw-lighter align-items-center text-center"><a href="https://github.com/jvesterfelt/codebabble" class="btn btn-success align-items-center text-center">Go to Codebabble GitHub</a></h5>
  </div>
  <div class="card-header text-white-50 fw-bold align-items-center text-center">&copy; 2021
    CODEBABBLE
  </div>
</footer>