html {
    height: 100%;
}


/* #hero {
    width: 100%;
    position: fixed;
}

#hero-img {
    width: 80%;
    align
} */

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}